<!DOCTYPE html>
<html>
<head>
    <title>Select Patient Case</title>
</head>
<body>
  <h1>Select a currently open patient case</h1>
  <select id="patientCase">
    <option value="">--Please choose an active patient file--</option>
    {% for case in open_cases %}
        <option value="{{ case.id }}">{{ case.patient.first_name }} {{ case.patient.last_name }}</option>
    {% endfor %}
  </select>
  <button type="button" onclick="window.location.href='{% url 'new_patient' %}'">New Patient</button>

  <div style="float: right;">
    <h2>Patient Check-In</h2>
    <form method="POST" action="{% url 'patient_checkin' %}">
        {% csrf_token %}
        {{ check_in_form.as_p }}
        <input type="submit" value="Submit">
        <a href="{% url 'logout' %}">Logout</a>
    </form>
