<!DOCTYPE html>
<html>
<head>
    <title>New Patient Form</title>
</head>
<body>
    <h1>New Patient Form</h1>
    <form>

        <h2>Personal Information</h2>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="dob">Date of Birth:</label><br>
        <input type="date" id="dob" name="dob"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>


        <h2>Medical History</h2>
        <label for="previousConditions">Previous Conditions:</label><br>
        <textarea id="previousConditions" name="previousConditions"></textarea><br>
        <label for="medications">Current Medications:</label><br>
        <textarea id="medications" name="medications"></textarea><br>


        <h2>Current Symptoms</h2>
        <label for="symptoms">Describe your symptoms:</label><br>
        <textarea id="symptoms" name="symptoms"></textarea><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
