<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <label for="role">Role:</label><br>
        <select id="role" name="role">
            <option value="Doctor">Doctor</option>
            <option value="Nurse">Nurse</option>
            <option value="Billing Staff">Billing Staff</option>
            <option value="Admitting Staff">Admitting Staff</option> -->
        </select><br>
        <button type="submit">Register</button>
    </form>
    </body>
</html>
